<a href="https://colab.research.google.com/github/jamestheengineer/data-science-from-scratch-Python/blob/master/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 2: A Crash Course in Python

In [0]:
# The pound sign marks the start of a comment. Python itself
# ignores the comments, but they're helpful for anyone reading the code.
for i in [1, 2, 3, 4, 5]:
  for j in [1, 2, 3, 4, 5]:
    print(j)
    print(i + j)
  print (i)
print ("done looping")

In [0]:
# Whitespace is ignored inside parenthesis
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [0]:
# Use it to make things easier to read
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

In [0]:

# You can use backslashes to also indicate a statement continues to the next line
two_plus_three = 2 + \
                 3

In [0]:
# Whitespace formatting can cause issues copying and pasting
for i in [1, 2, 3, 4, 5]:

  # notice the blank line
  print(i)

In [0]:
# Jupyter totally doesn't care

In [0]:
# Python uses import to get stuff from other modules
import re
my_regex = re.compile("[0-9]+", re.I)

In [0]:
my_regex

In [0]:
# If you already have a different module of the same name in your module, you can alias
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [0]:
# Standard convention to import matplotlib is
import matplotlib.pyplot as plt
# plt.plot(...)

In [0]:
# You can import specific capabilities and use them without qualification
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [0]:
# Be careful about importing everything, which my overwrite stuff you already have
match = 10
from re import *
print(match)

In [0]:
# Functions!
def double(x):
  """
  THis is where you put an optional docstring that explains what the function
  does. For example, this function miltiplies its input by 2.
  """
  return x * 2

In [0]:
# Python's functions are first class, which means we can assign them to variables 
# and pass them to other functions
def apply_to_one(f):
  """Calls the function f with 1 as its argument"""
  return f(1)

my_double = double
x = apply_to_one(my_double)

# Lambdas!
y = apply_to_one(lambda x: x + 4)

another_double = lambda x: 2 * x # don't do this
def another_double(x):
  """Do this instead"""
  return 2 * x

In [0]:
# Default args
def my_print(message = "my default message"):
  print(message)

my_print("hello")
my_print()

In [0]:
def full_name(first = "What's-his-name", last = "Something"):
  return first + " " + last 

print(full_name("Joel", "Grus"))
print(full_name("Joel"))
print(full_name(last="Grus"))

In [0]:
# Strings can be delimited by single or double quotes
single_quote_string = 'data science'
double_quoted_string = "data science"

# Backslashes for special characters
tab_string = "\t" # represents the tab character
len(tab_string) # should be 1

In [0]:
# You can use raw strings to capture special characters
not_tab_string = r"\t" # two chars
len(not_tab_string) # should be 2

In [0]:
# Multi-line strings with three double quotes
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

In [0]:
print(multi_line_string)

In [0]:
# Python 3.6 added the f-string, which simplifies substitution into strings
first_name = "Joel"
last_name = "Grus"
full_name_one_way = first_name + " " + last_name
full_name_second_way = "{0} {1}".format(first_name, last_name)
full_name_THE_way = f"{first_name} {last_name}"

In [0]:
# We'll use exceptions occasionally
try:
  print( 0 / 0)
except ZeroDivisionError:
  print("cannot divide by zero")

In [0]:
# Probably the most fundamental data structure in Python is the list.
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]
list_length = len(integer_list)
list_sum = sum(integer_list)
print(list_length, list_sum)

In [0]:
# Get or set list items with square brackets
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
x[0] = -1
print(zero, one, nine, eight, x)